<ion-view view-title="Welcome">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/ionic-header.png">
        <h2>Welcome</h2>
        <p>
          Welcome to Ionic.io!
        </p>
      </div>
      <div class="item item-body">
        <div class="row">
          <div class="col"><img style="width: 100%;" src="img/push-preview.png"></div>
          <div class="col"><img style="width: 100%;" src="img/liveupdate-preview.png"></div>
          <div class="col"><img style="width: 100%;" src="img/package-preview.png"></div>
          <div class="col"><img style="width: 100%;" src="img/creator-preview.png"></div>
          <div class="col"><img style="width: 100%;" src="img/analytics-preview.png"></div>
        </div>
        <p>
          This app has been pre-loaded with every powerful service we offer.  Here you will find examples of each one,
          along with links to their respective documentation.  Simply hit one of the tabs to get started!
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
